:root {
    /* color palette */
    --custom-dark : #001533;
    --custom-blue : #1B72E8;
    --custom-dark-blue : #165BBA;
    --custom-darker-blue : #0d3469;
    --custom-black-layer-20 : rgba(0,0,0,0.2);
    --custom-black-layer-40 : rgba(0,0,0,0.5);
    --custom-white-layer-20 : rgba(255,255,255,0.2);

    --custom-text-white: white;
    --custom-text-gray: #888;

}

body > header {
    height: 70px;
}
header .form-control::placeholder {
    color: var(--custom-text-gray);
}

main {
    height: calc(100vh - 70px);
    margin-top: 70px;
}

main aside {
    background-image: url("../img/sidebar-bg.png");
    background-size: cover;
    width: 70px;
    background-color: var(--custom-dark);
}

main aside .nav-link:hover {
    background-color: var(--custom-white-layer-20);
}

main .content {
    width: calc(100% - 70px);
}

.content header .badge {
    text-decoration: none;
    background-color: var(--custom-black-layer-20);
}
.content header .badge:hover {
    background-color: var(--custom-black-layer-40);
}

.content .custom_breadcrumb a:hover{
    text-decoration: none;
}
.content .breadcrumb-item::before {
    color: var(--custom-text-white);
    font-weight: 600;
}
.new-student.offcanvas {
    width: 100%;
}

.content section {
    margin: 1rem 0;
}

#next-class tr >:first-child {
    text-align: left;
}
.first.col {
    min-width: 80px;
}
#next-class tr td:first-child::before {
    display: inline-block;
    content: '';
    background-image: url(../img/class-avatar.jpg);
    background-size: contain;
    height: 1.8rem;
    width: 1.8rem;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 0.5rem;
}
#next-class th.col {
    font-weight: 500;
    font-size: 1.1rem;
}
.second.col {
    width: 150px;
}
.third.col {
    width: 80px;
}
.fourth.col {
    width: 80px;
}
.fifth.col {
    width: 100px;
}

/* only sm  */
@media screen and (max-width: 575px) {
    #next-class table tr>:nth-child(2) {
        display: none;
    }
    #next-class table tr>:nth-child(3) {
        display: none;
    }
}

/* md breakpoint */
@media screen and (min-width: 576px) {
    #next-class .first-col {
        width: 30%;

    }
}

/* lg breakpoint */
@media screen and (min-width:992px) {
    main aside {
        width: 150px;
    }
    main .content {
        width: calc(100% - 150px);
    }
    #next-class .first-col{
        width: 50%;
    }
    .new-student.offcanvas {
        width: 50%;
    }
    
}

